{% extends "layout.html" %}

{% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <section class="form-gradient">
        <!--Form with header-->
        <div class="card">
          <form accept-charset="UTF-8" role="form" action="" method="POST">
            {{ form.hidden_tag() }}

            <!--Header-->
            <div class="header py-3 default-color">
              <div class="row d-flex justify-content-center">
                <h3 class="white-text mb-3 pt-3 font-weight-bold"><i class="fa fa-address-book-o mr-3"></i>Update Student Information</h3>
              </div>
            </div>
            <!--Header-->

            <div class="card-body mx-4">

              <!--Body-->
              <div class="md-form">
                <i class="fa fa-key prefix grey-text"></i> {{ form.student_id(id="form1", class="form-control grey-text", autocomplete="off", disabled="disabled") }} {% for error in form.student_id.errors %}
                <span class="red-text">{{ error }}</span> {% endfor %}
                <label for="form1" class="">Student ID</label>
              </div>

              <div class="md-form">
                <span class="required">*</span>
                <i class="fa fa-user prefix grey-text"></i>
                {{ form.first_name_en(
                  type="text", id="form2", class="form-control", autocomplete="off"
                )}}
                {% for error in form.first_name_en.errors %}
                <span class="red-text">{{ error }}</span> {% endfor %}
                <label for="form2" class="">First Name English</label>
              </div>

              <div class="md-form">
                <span class="required">*</span>
                <i class="fa fa-user prefix grey-text"></i>
                {{ form.last_name_en(
                  type="text", id="form3", class="form-control", autocomplete="off"
                )}}
                {% for error in form.last_name_en.errors %}
                <span class="red-text">{{ error }}</span> {% endfor %}
                <label for="form3" class="">Last Name English</label>
              </div>

              <div class="md-form">
                <i class="fa fa-user-o prefix grey-text"></i> 
                {{ form.first_name_kh(
                  type="text", id="form4", class="form-control", autocomplete="off"
                )}}
                {% for error in form.first_name_kh.errors %}
                <span class="red-text">{{ error }}</span> {% endfor %}
                <label for="form4" class="">First Name Khmer</label>
              </div>

              <div class="md-form">
                <i class="fa fa-user-o prefix grey-text"></i> 
                {{ form.last_name_kh(
                  type="text", id="form5", class="form-control", autocomplete="off"
                )}}
                {% for error in form.last_name_kh.errors %}
                <span class="red-text">{{ error }}</span> {% endfor %}
                <label for="form5" class="">Last Name Khmer</label>
              </div>

              <div class="md-form">
                <span class="required">*</span>
                <i class="fa fa-transgender prefix grey-text"></i>
                <label>Gender: </label>
                <div style="margin-left: 120px">
                  {% for subfield in form.gender %}
                    <tr>
                      <td>{{ subfield(class="form-check-input with-gap") }}</td>
                      <td>{{ subfield.label }}</td>
                    </tr>
                  {% endfor %}
                </div>
                {% for error in form.gender.errors %}
                <span class="red-text">{{ error }}</span> {% endfor %}
              </div>

              <div class="md-form">
                <span class="required">*</span>
                <i class="fa fa-calendar prefix grey-text"></i> 
                {{ form.date_of_birth(type="text", id="form7", class="form-control", onfocus="(this.type='date')") }} 
                {% for error in form.date_of_birth.errors %}
                <span class="red-text">{{ error }}</span> {% endfor %}
                <label for="form7" class="">Date Of Birth</label>
              </div>

              <div class="md-form">
                <span class="required">*</span>
                <i class="fa fa-mobile prefix grey-text" style="font-size: 2.5em!important"></i> 
                {{ form.phone(type="text", id="form8", class="form-control", autocomplete="off") }} 
                {% for error in form.phone.errors %}
                <span class="red-text">{{ error }}</span> {% endfor %}
                <label for="form8" class="">Phone Number</label>
              </div>

              <div class="md-form">
                <i class="fa fa-envelope-o prefix grey-text"></i> 
                {{ form.email(type="text", id="form9", class="form-control", autocomplete="off") }} 
                {% for error in form.email.errors %}
                <span class="red-text">{{ error }}</span> {% endfor %}
                <label for="form9" class="">Email</label>
              </div>

              <div class="md-form">
                <span class="required">*</span>
                <i class="fa fa-map-marker prefix grey-text"></i> 
                {{ form.address(type="text", id="form10", class="form-control", autocomplete="off", maxlength="100") }} 
                {% for error in form.address.errors %}
                <span class="red-text">{{ error }}</span> {% endfor %}
                <label for="form10" class="">Address</label>
              </div>

              <!--Grid row-->
              <div class="row d-flex align-items-center mb-4">
                <!--Grid column-->
                <div class="col-md-1 col-md-5 d-flex align-items-start">
                  <div class="text-center">
                    {{ form.submit(class="btn btn-default z-depth-1a waves-effect waves-light") }}
                  </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-7">
                  <p class="font-small grey-text d-flex justify-content-end mt-3">or<a href="{{ url_for('index', option='active')}}" class="teal-text text-uppercase ml-2 font-weight-bold"> Cancel</a></p>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->

            </div>
          </form>
        </div>
        <!--/Form with header-->
      </section>

    </div>
  </div>
</div>
{% endblock %}
